# GSA
GSA_API_TOKEN='GSA_TOKEN'
GSA_API_URL='GSA_URL'

# KANBOARD WEBHOOK
KANBOARD_HOOK_TOKEN='KANBOARD_HOOK_TOKEN'

# QUADRO KANBOARD
KANBOARD_COL_EM_PRODUCAO='ID COLUNA EM PRODUÇÃO KANBOARD'
KANBOARD_COL_REPROVADO='ID REPROVADO KANBOARD'
KANBOARD_REPROVADO_ID='ID CATEGORIA REPROVADO'

# KANBOARD API
KANBOARD_API_URL='KANBOARD_API_URL'
KANBOARD_API_TOKEN='KANBOARD_API_TOKEN'

# APP
APP_PORT='APP_PORT'
